{% extends "base.html" %}
{% load static %}
{% block title %}To-Do App : adminlogin{% endblock %}

{% block content %}
<br>
<div class="d-flex justify-content-center">
    <h1><span class="badge badge-pill badge-primary">ADD BOOK</span></h1>
</div>
<br><br>
  <div class="container">
    <div class="row row-cols-3">
      <div class="col"> <h2><a href="{% url 'add_New_Book' %}" class="badge badge-danger">ADD CARTOON BOOK</a></h2></div>
      <div class="col"> <h2>  
        <a href="{% url 'add_New_Book2' %}" class="badge badge-success">ADD NOVEL BOOK</a></h2></div>
        <div class="col"> <h2> 
          <a href="{% url 'add_New_Book3' %}" class="badge badge-success">ADD FICTION BOOK</a></h2></div>
      <div class="col"> <h2> 
          <a href="{% url 'add_New_Book4' %}" class="badge badge-warning">ADD HISTORY BOOK</a></h2></div>
    </div>
  </div>
<br>
<br>
<br>


{% endblock %}