{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}To-Do App : login{% endblock %}

{% block content %}
<br>
<div class="d-flex justify-content-center">
    <h1>MY BOOK</h1>
</div>
<br>
<div class="container">
<table class="table">
    <thead class="thead bg-danger">
      <tr>
        <th scope="col">No</th>
        <th scope="col">COVER</th>
        <th scope="col">TITLE</th>
        <th scope="col">Borrowed date</th>
        <th scope="col">Deadline</th>
      </tr>
    </thead>
    <tbody class="bg-primary">
      <tbody>
     
              <tr>
                  <td>1</td>
                  <td> <center><img src="{{ todoList.image.url }}"width= "60px" height="100px" ></center></td>
                  <td>{{ todoList.NameBook }}</td>
                  <td></td>
                  <td></td>
              </tr>
     
      </tbody>
    </tbody>
  </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}