{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}To-Do App : login{% endblock %}

{% block content %}
<br>
<div class="d-flex justify-content-center">
    <h1>MY BOOK</h1>
</div>
<br>
<div class="container">
<table class="table">
    <thead class="thead bg-danger">
      <tr>
        <th scope="col">No</th>
        <th scope="col">COVER</th>
        <th scope="col">TITLE</th>
        <th scope="col">Borrowed date</th>
        <th scope="col">Deadline</th>
      </tr>
    </thead>
    <tbody class="bg-primary">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}